.peoples {
    /*background-color: #61dafb;*/
    display: grid;
    grid-template-rows: 1fr 10fr;
}

.search {
    /*background-color: aliceblue;*/
}

.objects {
    /*background-color: crimson;*/
}

.objectItem {
    display: grid;
    grid-template-columns: 10fr 1fr;
}

.objectItem img {
    height: 50px;
}