.messages {
    display: grid;
    grid-template-columns: 1fr 2fr;
}

.users {
    text-align: right;
    margin-right: 5%;
}

.messageItems {
    padding: 2%;
}

.users img {
    height: 50px;
    border-radius: 100px;
}

.messageItems img {
    height: 25px;
    border-radius: 100px;
}

.active {
    background-color: gold;
}

.message {
    display: grid;
    grid-template-columns: 5fr 5fr 1fr;
    grid-template-areas: "P M T";
}

.myMessage {
    display: grid;
    grid-template-columns: 1fr 10fr 1fr 1fr;
    padding: 1%;
    text-align: right;
    grid-area: M;
}
.whosMessage {
    display: grid;
    grid-template-columns: 1fr 1fr 10fr 1fr;
    padding: 1%;
    text-align: left;
    grid-area: P;
}

.time {
    grid-area: T;
}

.addMessage {
    float: right;
}