.profile {
    margin-top: 2%;
    width: 100%;
    display: grid;
    grid-template-rows: 1fr 1fr;
    grid-template-columns: 1fr 1fr;
    grid-area: nothing;
    grid-template-areas:
    "nothing nickName"
    "photo status"
    "photo info"
    "addPost addPost"
    "posts posts";
}

.photo {
    text-align: right;
    margin-right: 15%;
    grid-area: photo;

}
.nickName {
    grid-area: nickName;

}
.status {
    grid-area: status;

}
.info {
    grid-area: info;
    margin-right: 20%;
}
.addPost {
    grid-area: addPost;

    margin-top: 1%;
    text-align: center;
}
.posts {
    grid-area: posts;
    text-align: center;
    margin-right: 30%;
    margin-left: 30%;
}

.photo img {
    height: 150px;
}
.posts img {
    height: 50px;
}

.headInf {
    margin-bottom: 1%;
}

.textarea {
    width: 50%;
    resize: vertical;
}

.otherPhotos {
    width: 15%;
    max-height: 80px;
    padding: 2%;
}