.header {
    background-color: coral;
    display: grid;
    grid-template-columns: 2fr 13fr 2fr;
    margin-bottom: 1%;
}

.content {
    text-align: center;
    margin-top: 3%;
}

.authButton {
    margin-top: 30%;
    text-align: center;
}

.authButton button {
    width: 60%;
    border-radius: 10px;
    border: none;
    outline: none;
    cursor: pointer;
}

