.sidePhotoBar {
    background-color: cadetblue;
    grid-area: SPB;
    display: grid;
    grid-template-rows: 1fr 10fr 1fr;
    max-height: 500px;
}

.button {
    max-height: 100px;
}

.photoBlock {
    background-color: darkcyan;
    display: grid;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr;
}

.photo {
    margin: 5px;
    max-width: 100%;
}

.photo img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    max-height: 100px;
}