.profile {
    /*background-color: antiquewhite;*/
    margin: 10px;
    display: grid;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr;
    grid-template-columns: 1fr 1fr 1fr;
    /*grid-area: nothing;*/
    grid-template-areas:
    "MP NN SPB"
    "MP S SPB"
    "MP I SPB"
    "AP AP SPB"
    "P P P";
}

.mainPhoto {
    /*background-color: brown;*/
    /*text-align: right;*/
    /*margin-right: 15%;*/
    grid-area: MP;
}

.mainPhoto img {
    max-width: 400px;
    max-height: 400px;
}

.nickName {
    /*background-color: blueviolet;*/
    grid-area: NN;
}

.status {
    /*background-color: crimson;*/
    grid-area: S;
}

.info {
    /*background-color: chartreuse;*/
    grid-area: I;
    /*margin-right: 20%;*/
}

.addPost {
    /*background-color: aqua;*/
    grid-area: AP;
    /*text-align: center;*/
}

.posts {
    /*background-color: chocolate;*/
    grid-area: P;
    /*text-align: center;*/
}

.posts img {
    max-width: 50px;
    max-height: 50px;
}

.textarea {
    /*width: 50%;*/
    /*resize: vertical;*/
}

.headInf {

}

.pin {

}