.search {
    background-color: azure;
    border-radius: 10px;
    border: 1px solid black;
}

.input {
    border-radius: 10px;
    background-color: azure;
    outline: none;
    border: none;
}

.searchButton button{
    background: #c0ffc3;
    border: none;
    outline: none;
    cursor: pointer;
    border-radius: 10px;
}