.messagePage {
    display: grid;
    grid-template-columns: 1fr 2fr;
    padding: 1%;
}

.usersList {}

.usersListItem {
    border: 2px solid lightgrey;
    margin: 2%;
}

.active {
    background-color: lightgrey;
}

.messageItems {
    display: grid;
    grid-template-rows: 5fr 1fr;
}

.usersList img {
    height: 50px;
    border-radius: 100px;
}

.addMessageBox {
    border: 2px solid lightgrey;
}

.addMessage {
    float: right;
}